


<h5>Data (<a onclick="window.simple_http_data = {{ dataDecoded.data|json_encode  }}; console.log('window.simple_http_data', simple_http_data)" href="##">put result to js console</a>)</h5>



{{ dump(dataDecoded.data) }}