<table>
    <thead>
    <tr>
        <th scope="col" colspan="2">JWT Payload</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>Request</td>
        <td>
            {% if call.request and call.request.jwt|default(false) %}
                {{ dump(call.request.jwt.decoded.header|simple_json_decode) }}
                {{ dump(call.request.jwt.decoded.payload|simple_json_decode) }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Response</td>
        <td>
            {% if call.response and call.response.jwt|default(false) %}
                {{ dump(call.response.jwt.decoded.header|simple_json_decode) }}
                {{ dump(call.response.jwt.decoded.payload|simple_json_decode) }}
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>