<table>
    <thead>
        <tr>
            <th scope="col">Raw</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ dump(call) }}
        </td>
    </tr>
    </tbody>
</table>
