
<h5>Body</h5>

<table>
    <tbody>
        <tr>
            <td>{{ response.content | simple_http_beautify(response.contentType) }}</td>
        </tr>
    </tbody>
</table>

<h5>Headers</h5>

<table>
    <tbody>
    {% for header in response.headers %}
        <tr>
            <td>
                {{ header }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
