{% if response and response.headers is defined %}

    <h5>Body</h5>

    <table style="table-layout: fixed">
        <tbody>
        <tr>
            <td class="full-width" style="overflow-wrap: break-word">
                <pre>{{ response.body }}</pre>
            </td>
        </tr>
        </tbody>
    </table>

    <h5>Headers</h5>

    <table style="table-layout: fixed">
        <tbody>
        {% for header in response.headers %}
            <tr>
                <td class="full-width" style="overflow-wrap: break-word">
                    {{ header }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}
