
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.tabs-nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: -1px;
    padding-left: 15px;
}
.tabs-nav li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.tabs-nav li > a {
    padding: 10px 15px;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
}

.tabs-nav li > a.active {
    background: #eee;
    color: #222;
}

.tabs-content > div {
    display: none;
    background: #eee;
    padding: 15px;
}

.tabs-content > div.active {
    display: inherit;
}

.tabs-content > div > table {
    margin-bottom: 20px;
}

.tabs-content > div > table:first-child {
    margin-top: 0;
}

.tabs-content > div > table:last-child {
    margin-bottom: 0;
}

.badge {
    display: inline-block;
    background: #EEE;
    padding: 1px 3px;
    border-radius: 3px;
}

.badge abbr {
    border: none;
}
/*
    Progress bar
 */



/* Bootstrap progress bar */

.progress {
    height: 19px;
    overflow: hidden;
    background-color: #F7F7F7;
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 11px;
    font-weight: light;
    text-transform: uppercase;
    color: white;
    text-align: center;
    background-color: #0E90D2;
}


.progress .bar + .bar {
}

.warning {
    background-color: #FAA732;
    color: white;
}

.success {
    background-color: #5EB95E;
    color: white;
}

.error {
    background-color: #B95E5E;
    color: white;
}

.http-call:first-child {
    margin-top: 0;

}

.http-call {
    margin-top: 30px;
    background: #F6F6F6;
    border: 1px solid #EEE;
}

.http-call__title {
    margin: 0;
    padding: 15px;
    font-family: monospace;
    font-size: 14px;
}

.http-call__title__webhost {
    color: #999;
}

.http-call__replays {
    background: #FFF;
}

.http-call__replays .http-call {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #DDD;
}

a.http-call__index:hover {
    text-decoration: none;
}

.http-call__index {
    display: block;
    border-bottom: 1px dotted #DDD;
    font-size: 12px;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 8px;
}

.http-call__replays .http-call:first-child {
    border-top: 1px solid #DDD;
}

.http-call__replays .http-call .http-call__title {
    display: none;
}

.http-call--minimized > .http-call__index {
    border-bottom: none;
    background: #EEE;
    color: #888;
    margin-bottom: 0;
}

.http-call--minimized > * {
    display: none;

}

.http-call--minimized > .http-call__index b:last-child,
.http-call__index b:first-child {
    display: none;
}


.http-call--minimized > .http-call__index {
    display: block;
}

.http-call--minimized > .http-call__index b:first-child {
    display: inline;
}

button[data-simple-http-replay] {
    border: 1px solid #CCD;
    background: #EEF;
    color: #777;
    font-size: 10px;
    display: inline-block;
    padding: 5px 10px 3px;
    text-transform: uppercase;
    border-radius: 5px;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    transform: rotate(90deg);
    border-bottom: 0;
    float: right;
    transform-origin: 100% 100%;
    margin-top: -27px;
    border-bottom: 1px solid #DFDFDF;
}


button[data-simple-http-replay] img {
    float: left;
    zoom: 75%;
    margin-right: 10px;
}

button[data-simple-http-replay] img.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

.tabs-content h5 {
    font-size: 12px;
    margin: 0;
    padding: 0 2px;
    color: #AAA;
}


.hljs {
    background: none;
}


.simple-http-badge {
    display: inline-block;
    background: #CCC;
    font-size: 10px;
    border-radius: 2px;
    padding: 2px 3px;
    color: white;
}



.http-call__title__method,
.http-call__path {
    font-weight: bold;
    color: #222;
}